@model IEnumerable<GAB.LabDashboard.Web.Models.domain.ResultsByCountry>

@{
    ViewData["Title"] = "Results by Country";
}
    <section class="results-container countries-container">
        <h2>Results by Country</h2>

        <table class="table countries-results">
            <thead>
                <tr>
                    <th>Position</th>
                    <th>@Html.DisplayNameFor(model => model.CountryCode)</th>
                    <th>@Html.DisplayNameFor(model => model.CountryName)</th>
                    <th>@Html.DisplayNameFor(model => model.Score)</th>
                    <th>@Html.DisplayNameFor(model => model.TotalItems)</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var position = 0;

                    foreach (var item in Model)
                    {
                        position++;
                        <tr>
                            <td>@position</td>
                            <td><img class="country-flag" src="@Url.Content($"~/images/flags/{item.CountryCode}.jpg")" alt="Alternate Text" /> @Html.DisplayFor(modelItem => item.CountryCode)</td>
                            <td>@Html.DisplayFor(modelItem => item.CountryName)</td>
                            <td>@Html.DisplayFor(modelItem => item.Score)</td>
                            <td>@Html.DisplayFor(modelItem => item.TotalItems)</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </section>