@model IEnumerable<GAB.LabDashboard.Web.Models.domain.ResultsByTeam>

@{
    ViewData["Title"] = "Results by Teams";
}

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script>
        var options = {
            chart: {
                type: 'line'
            },
            series: [{
                name: 'sales',
                data: [30, 40, 35, 50, 49, 60, 70, 91, 125]
            }],
            xaxis: {
                categories: [1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999]
            }
        }

        var chart = new ApexCharts(document.querySelector("#chart"), options);

        chart.render();
    </script>
}

<section class="results-container">
    <h2>Results by Location</h2>

    <section id="chart" class="results-dashboard"></section>

    <table class="table">
        <thead>
            <tr>
                <th>Position</th>
                <th>@Html.DisplayNameFor(model => model.TeamName)</th>
                <th>@Html.DisplayNameFor(model => model.Score)</th>
                <th>@Html.DisplayNameFor(model => model.TotalItems)</th>
            </tr>
        </thead>
        <tbody>
            @{
                var position = 0;

                foreach (var item in Model)
                {
                    position++;
                    <tr>
                        <td>@position</td>
                        <td>@Html.DisplayFor(modelItem => item.TeamName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Score)</td>
                        <td>@Html.DisplayFor(modelItem => item.TotalItems)</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</section>