@model GAB.LabDashboard.Web.Models.domain.Summary

@{
    ViewData["Title"] = "Home Page";
}

<section id="dashboard-container" class="container">
    <div class="row">
        <a asp-controller="Results" asp-action="Attendees" class="dashboard-panel col-sm bg-primary text-light">
            <div class="panel-title">Attendees</div>
            <div class="panel-value">@Model.Attendees</div>
        </a>
        <a asp-controller="Results" asp-action="Companies" class="dashboard-panel col-sm bg-primary text-light">
            <div class="panel-title">Companies</div>
            <div class="panel-value">@Model.Companies</div>
        </a>
    </div>
    <div class="row">
        <a asp-controller="Results" asp-action="Locations" class="dashboard-panel col-sm bg-primary text-light">
            <div class="panel-title">Locations</div>
            <div class="panel-value">@Model.Locations</div>
        </a>
        <a asp-controller="Results" asp-action="Countries" class="dashboard-panel col-sm bg-primary text-light">
            <div class="panel-title">Countries</div>
            <div class="panel-value">@Model.Countries</div>
        </a>
    </div>
    <div class="row">
        <article class="dashboard-panel-static col-sm bg-primary text-light">
            <div class="panel-title">Inputs</div>
            <div class="panel-value">@Model.Inputs</div>
        </article>
        <article class="dashboard-panel-static col-sm bg-primary text-light">
            <div class="panel-title">Runs</div>
            <div class="panel-value">@Model.Runs</div>
        </article>
        <article class="dashboard-panel-static col-sm bg-primary  text-light">
            <div class="panel-title">Hours</div>
            <div class="panel-value">@((int)Model.Hours)</div>
        </article>
        <article class="dashboard-panel-static col-sm bg-primary text-light">
            <div class="panel-title">Cores</div>
            <div class="panel-value">@Model.Cores</div>
        </article>
    </div>
    <div class="row">
        <article class="dashboard-panel-static-news text-light">
            <h3>News</h3>
            <p>Welcome to the Global Azure Bootcamp 2019 Science Lab dashboards. You can track the progress of your deployment and how
            is performing, comparing with other community members around the world.</p>
            <p class="alert alert-warning"><strong>IMPORTANT:</strong> Currently the Science Lab is working in "Test mode" while we do the last updates on the backend, 
                tunning the machine learning algorithm with the inputs being processed on this stage. On April 27th we will reset the dashboards so reserve your compute horsepowers for the launch date.


            <p><strong>Server version:</strong> 1.1.0.0</p>
        </article>
    </div>
</section>
