@model GAB.LabDashboard.Web.Models.domain.Summary

@{
    ViewData["Title"] = "Home Page";
}

<section id="dashboard-container" class="container">
    <div class="row">
        <a asp-controller="Results" asp-action="Attendees" class="dashboard-panel col-sm bg-primary text-light">
            <div class="panel-title">Attendees</div>
            <div class="panel-value">@Model.Attendees</div>
        </a>
        <a asp-controller="Results" asp-action="Companies" class="dashboard-panel col-sm bg-primary text-light">
            <div class="panel-title">Companies</div>
            <div class="panel-value">@Model.Companies</div>
        </a>
    </div>
    <div class="row">
        <a asp-controller="Results" asp-action="Locations" class="dashboard-panel col-sm bg-primary text-light">
            <div class="panel-title">Locations</div>
            <div class="panel-value">@Model.Locations</div>
        </a>
        <a asp-controller="Results" asp-action="Countries" class="dashboard-panel col-sm bg-primary text-light">
            <div class="panel-title">Countries</div>
            <div class="panel-value">@Model.Countries</div>
        </a>
    </div>
    <div class="row">
        <article class="dashboard-panel-static col-sm bg-primary text-light">
            <div class="panel-title">Inputs</div>
            <div class="panel-value">@Model.Inputs</div>
        </article>
        <article class="dashboard-panel-static col-sm bg-primary text-light">
            <div class="panel-title">Runs</div>
            <div class="panel-value">@Model.Runs</div>
        </article>
        <article class="dashboard-panel-static col-sm bg-primary  text-light">
            <div class="panel-title">Hours</div>
            <div class="panel-value">@((int)Model.Hours)</div>
        </article>
        <article class="dashboard-panel-static col-sm bg-primary text-light">
            <div class="panel-title">Cores</div>
            <div class="panel-value">@Model.Cores</div>
        </article>
    </div>
</section>
